.App {
  text-align: center;
  background-color: whitesmoke;
  color: black;
  width: 85%;
  height: 90vh;
  margin-top: 5%;
  margin-left: 7%;
  border-radius: 10px;
  border: 5px solid #f3d111;
}

.main-header {
  padding-top: 6%;
  font-family: "sunny";
}
